* {
  margin: 0 auto;
  padding-inline-start: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
}

body {
  background-color: #ffffff;
  display: flex;
}

h1,
button {
  text-transform: uppercase;
}

h1 {
  padding-bottom: 0.5em;
  color: black;
}

input {
  width: 70vw;
  font-size: 1.5rem;
}

section {
  width: 76.7vw;
}

li {
  color: black;
  list-style-type: none;
  font-size: 1.5rem;
  background-color: #ffd786;
  display: flex;
  align-items: center;
  min-width: 55vw;
  max-width: 74vw;
  margin: 0.5em 0;
  border-bottom: 1px solid black;
}

.main-div {
  margin: 3em;
  padding: 2em 2em 5em 2em;
  background-color: #ead34e;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
}

.submit-button {
  background-color: #a4d21d;
  font-size: 1.5rem;
  width: 3em;
  font-weight: 700;
}

.list-div {
  position: absolute;
  left: 77%;
}

.list-div button {
  background-color: #ffffff00;
  border: none;
  font-size: 2rem;
}

.checked:hover {
  fill: #00cf1c;
}

.close:hover {
  fill: red;
}

.stroken {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  background-color: #ffd7867e;
}
